@import 'tailwindcss';

@theme {
	--font-sans: 'Open Sans Variable', sans-serif;
	--font-mono: 'Fira Code Variable', monospace;
	--font-icon: 'Material Symbols Outlined Variable', sans-serif;
}

@layer components {
	main {
		@apply mx-auto w-1/2;
	}
}
