@import 'tailwindcss';

@theme {
	--font-sans: 'Open Sans Variable', sans-serif;
	--font-mono: 'Fira Code Variable', monospace;
	--font-icon: 'Material Symbols Outlined Variable', sans-serif;
}

@layer base {
	body {
		@apply bg-slate-50 text-slate-950 dark:bg-slate-950 dark:text-slate-50;
	}

	main {
		@apply mx-auto w-full max-w-5xl p-4;
	}
}
